# Ans1

In [1]:
# Values- 'hello' , -87.8, 6
# expressions- +, -, *, /

# Ans2

In [2]:
# Variable- A variable store some data that data can be string, integer, float,list or any datatypes
# ex- a=5 or a= 'ineuron' or a=3.4

# string- string is value which is in '' or "" or ''''''
# ex- 'ineuron' or "ineuron"

# Ans3

In [3]:
# Data Types- 
# integer- integer can be any whole number ex-1,2,3,1000
# float- Float can be any decimal number ex-1.1,2.2,3.008
# string- string is value which is in '' or "" or ''''''
# ex- 'ineuron' or "ineuron"

# Ans4

In [4]:
# An expression is a piece of code that gives a value
# Expression perform some operation between two or more variablle.

# Ans5

In [5]:
# 1-An expression is a piece of code that produces a value
# an expression could be something like "3 * 8", which evaluates to the value of 24

# 2-a statement is a complete line of code that performs an action. In 
# the case of the example, "spam = 10" is a
# statement that assigns the value of 10 to the variable "spam"

# Ans6

In [11]:
bacon = 22
bacon + 1
bacon
# after running this code bacon will contain 22

22

# Ans7

In [12]:
'spam'+'spamspam'

'spamspamspam'

In [13]:
'spam' * 3

'spamspamspam'

In [14]:
# 'spamspamspam' will be the values of the following two terms be?

# Ans8

In [15]:
# Why is eggs a valid variable name while 100 is invalid
# beacuse variable never stop from the digit it start from the 'letter' or '_'

# Ans9

In [ ]:
int(), float(), and str() functions will evaluate to the integer, floating-point number, and

# Ans10

In [17]:
'I have eaten' + 'burritos.'

'I have eatenburritos.'

In [ ]:
string can concatenate with string only so we will remove integer